platform_admin_database_password: 
platform_admin_database_root_password: 
platform_admin_admin_password: 

ec_admin_user: 
ec_admin_password: 

controller_admin_username: 
controller_admin_password: 
controller_root_user_password: 
controller_database_root_password: 
controller_database_user_password: 