#!/bin/sh

# Variables for installation
echo "Initializing Variables"
APPD_USER={{ appd_user }}

EC_ADMIN_USER={{ ec_admin_user }}
EC_ADMIN_PASSWORD={{ ec_admin_password }}

PLATFORM="{{ platform_name }}"
PLATFORM_ADMIN={{ appd_install_directory }}/platform/platform-admin
INSTALL_DIR={{ appd_install_directory }}/platform/product
TMP_DIR={{ appd_install_directory }}/tmp
CREDENTIAL_NAME="{{ credential_name }}"

# Controller
CONTROLLER_HOST={{ hostvars['primary_controller'].ansible_host }}
CONTROLLER_PORT={{ controller_port | default('8090') }}
{%- if controller_vip is defined %}
CONTROLLER_VIP="{{ controller_vip }}"
{%- endif %}

# Events Service
EVENTS_SERVICE_HOSTS=({%for host in groups['events_service'] %}{{ hostvars[host].ansible_host }} {%endfor%})
{%- if events_service_vip is defined %}
EVENTS_SERVICE_VIP="{{ events_service_vip }}"
{%- endif %}

echo "."

# Login to EC
${PLATFORM_ADMIN}/bin/platform-admin.sh login \
    --user-name ${EC_ADMIN_USER} \
    --password ${EC_ADMIN_PASSWORD}

# Create the Platform
echo "Creating the platform"
${PLATFORM_ADMIN}/bin/platform-admin.sh create-platform \
    --name "${PLATFORM}" \
    --installation-dir ${INSTALL_DIR}
echo "."

# Add the credential
echo "Register credential '${CREDENTIAL_NAME}'"
${PLATFORM_ADMIN}/bin/platform-admin.sh add-credential \
    --credential-name "${CREDENTIAL_NAME}" \
    --type ssh \
    --user-name "${APPD_USER}" \
    --ssh-key-file "${HOME}/.ssh/id_rsa"
echo "."

# Add host controller host
echo "Register Controller Host"
{% if hostvars['primary_controller'].ansible_host == hostvars['ec'].ansible_host %}}
${PLATFORM_ADMIN}/bin/platform-admin.sh add-hosts \
    --platform-name "${PLATFORM}" \
    --hosts localhost
{% else %}
${PLATFORM_ADMIN}/bin/platform-admin.sh add-hosts \
    --platform-name "${PLATFORM}" \
    --credential "${CREDENTIAL_NAME}" \
    --hosts ${CONTROLLER_HOST}
{% endif %}

# Add the ES hosts
echo "Register ES hosts"
${PLATFORM_ADMIN}/bin/platform-admin.sh add-hosts \
    --platform-name "${PLATFORM}" \
    --credential "${CREDENTIAL_NAME}" \
    --hosts ${EVENTS_SERVICE_HOSTS[@]}

# Submit the controller install job
echo "Submit Controller Installation Job"
${PLATFORM_ADMIN}/bin/platform-admin.sh submit-job \
    --platform-name "${PLATFORM}" \
    --service controller \
    --job install \
    --args \
	    controllerProfile={{ controller_profile }} \
	    controllerPrimaryHost=${CONTROLLER_HOST} \
    	controllerAdminUsername={{ controller_admin_username }} \
    	controllerAdminPassword={{ controller_admin_password }} \
    	controllerRootUserPassword={{ controller_root_user_password }} \
    	newDatabaseRootPassword={{ controller_database_root_password }} \
    	newDatabaseUserPassword={{ controller_database_user_password }}

# Submit the ES host jobs
echo "Submit ES Installation Jobs"
${PLATFORM_ADMIN}/bin/platform-admin.sh submit-job \
    --platform-name "${PLATFORM}" \
    --service events-service \
    --job install \
    --args \
        profile={{ events_service_profile }} \
        jvmTempDir=${TMP_DIR} \
        ${EVENTS_SERVICE_HOSTS[@]/#/serviceActionHost=}

{%- if controller_vip is defined %}
# Set deeplink URL
${PLATFORM_ADMIN}/bin/platform-admin.sh \
    update-service-configurations \
    --platform-name "${PLATFORM}" \
    --service controller \
    --job update-configs \
    --args controllerExternalUrl="${CONTROLLER_VIP}"
{%- endif %}

{%- if events_service_vip is defined and controller_vip is defined %}
curl -X POST \
    --user root@system:{{ controller_root_user_password }} \
    "${CONTROLLER_VIP}/controller/rest/configuration?name=appdynamics.on.premise.event.service.url&value=${EVENTS_SERVICE_VIP}"
{%- else %}
curl -X POST \
    --user root@system:{{ controller_root_user_password }} \
    "http://${CONTROLLER_HOST}:${CONTROLLER_PORT}/controller/rest/configuration?name=appdynamics.on.premise.event.service.url&value=${EVENTS_SERVICE_VIP}"
{%- endif %}

echo "."
