serverHostName={{ hostvars['primary_controller'].ansible_host }}
sys.languageId=en
disableEULA=true

platformAdmin.port={{ platform_admin_port | default('9191') }}
platformAdmin.databasePort={{ platform_admin_database_port | default('3377') }}
platformAdmin.dataDir={{ appd_install_directory }}/mysql/data
platformAdmin.databasePassword={{ platform_admin_database_passsword }}
platformAdmin.databaseRootPassword={{ platform_admin_database_root_passsword }}
platformAdmin.adminPassword={{ platform_admin_admin_passsword }}
platformAdmin.useHttps$Boolean=false
sys.installationDir={{ appd_install_directory }}/platform
